body, html 
{
	height: 100%;
	font-family: Arial;
}

body
{
	background: #202020;
	overflow: hidden;
}

#form
{
	height: 80px;
	width: 15%;
	Background: #3c3c3c;
	margin: 0 auto;
	min-width: 300px;
	border: 15px solid #3c3c3c;
	border-radius: 5px;	
}

#wrapper 
{
	text-align: center;
	margin: 0 auto;
	height: 100vh;
}

#main_grid
{
	display: grid;
	align-items: center;
	justify-content: center;
	display: inline-block;
	width: 80%;
}
.row 
{
	vertical-align: middle;
}
.img_holder
{
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
}

.img_holder img
{
	vertical-align: middle;
	margin: 0 auto;
}

.image_off, .img_holder:hover .image_on{
   display:block;
}
.image_on, .img_holder:hover .image_off{
   display:none;
}
#infobar
{
	height: 5%;
	width: 100%;
	margin: 0 auto;
}

#center_grid
{
	margin: 0 auto;
	height: 75%;
}
#footer
{
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 15%;
}
 
.textbox
{
	font-size: 20px;
	height: 40px;
	width: 35%;
	border-radius: 5px;
    border: solid 2px #c8c8c8;
	margin: 10px;
    padding: 5px;
}

.textbox_left
{
	font-size: 20px;
	height: 40px;
	width: 90px;
	border-radius: 5px;
    border: solid 2px #c8c8c8;
	margin: 10px;
    padding: 5px;
}

.button
{
	font-size: 20px;
	height: 40px;
	width: 70%;
	-moz-border-radius: 5px;
	border-radius: 5px;
    border: solid 2px #c8c8c8;
	margin: 10px;
    padding:5px;
	background: #c8c8c8;
}
.button:hover
{
	
}
.modalText
{
	font-size: 20px;
	font-family: Arial;
}
.gridsquare{
	width: 50px;
	border-style: solid;
	border-width: 1px;
	height: 50px;
	display: inline-grid;
	border: 2px solid #3c3c3c;
	border-radius: 4px;
	margin: 1px;
	background: #3c3c3c;
}

.alive{
	background: #c8c8c8;
	border: 2px solid #c8c8c8;
	transition: all .1s ease;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #404040;
	color: #c8c8c8;
	margin: auto;
    padding: 20px;
    border: 2px solid #404040;
	border-radius: 5px;
	width: 30%;
}

#info-content p,ul {
	text-align: left;
}

.modalText
{
	
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus 
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.invalid
{
	background-color: rgba(255, 0, 0, 0.4);
}