body, html 
{
	height: 100%;
	font-family: Arial;
}

body
{
	background: #efefef;
	overflow: hidden;
}

#form
{
	height: 80px;
	width: 15%;
	Background: #02577a;
	margin: 0 auto;
	min-width: 300px;
	border: 15px solid #02577a;
	border-radius: 5px;	
	box-shadow: 0 0 40px #02577a;
}

#wrapper 
{
	text-align: center;
	margin: 0 auto;
	height: 100vh;
}

#main_grid
{
	display: grid;
	align-items: center;
	justify-content: center;
	display: inline-block;
	width: 80%;
}
.row 
{
	vertical-align: middle;
}
.img_holder
{
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
}

.img_holder img
{
	vertical-align: middle;
	margin: 0 auto;
}

.image_off, .img_holder:hover .image_on{
   display:block;
}
.image_on, .img_holder:hover .image_off{
   display:none;
}
#infobar
{
	height: 5%;
	width: 100%;
	margin: 0 auto;
}

#center_grid
{
	margin: 0 auto;
	height: 75%;
}
#footer
{
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 15%;
}
 
.textbox
{
	font-size: 20px;
	height: 40px;
	width: 35%;
	border-radius: 5px;
    border: solid 2px #c8c8c8;
	margin: 10px;
    padding: 5px;
}

.textbox_left
{
	font-size: 20px;
	height: 40px;
	width: 90px;
	border-radius: 5px;
    border: solid 2px #c8c8c8;
	margin: 10px;
    padding: 5px;
}

.button
{
	font-size: 20px;
	height: 40px;
	width: 70%;
	-moz-border-radius: 5px;
	border-radius: 5px;
    border: solid 2px #c8c8c8;
	margin: 10px;
    padding:5px;
	background: #c8c8c8;
}
.button:hover
{
	
}
.modalText
{
	font-size: 20px;
	font-family: Arial;
}
.gridsquare{
	width: 50px;
	height: 50px;
	display: inline-grid;
	margin: 1px;
	background: #a7adba;
	border: 2px solid #a7adba;
	border-radius: 4px;
}

.alive{
	transition: all .1s ease;
	background: #02577a;
	border: 2px solid #02577a;
	box-shadow: 0 0 10px #02577a;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #404040;
	color: #c8c8c8;
	margin: auto;
    padding: 20px;
    border: 2px solid #404040;
	border-radius: 5px;
	width: 30%;
}

#info-content p,ul {
	text-align: left;
}

.modalText
{
	
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus 
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.invalid
{
	background-color: rgba(255, 0, 0, 0.4);
}

#counter span
{
	color: #02577a; 
	font-size: 1.5em;
}

#darkwhite
{
	position: absolute;
	top: 0;
	right: 0;
	border: 1px;
}

#darkwhite button { 
    border: 2px solid black;
	border-radius: 3px;
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
	outline: 0;
}

#darkwhite button:not(:last-child) {
    border-right: none; 
}

#darkwhite:after {
    content: "";
    clear: both;
    display: table;
}

#dark_button:hover {

	background: #c8c8c8; 
	color: #101010;
}

#white_button
{
	font-size: 1em;
	font-weight: bold;
	color: #02577a;
	background: #efefef;
}

#dark_button
{
	font-size: 1em;
	font-weight: bold;
	color: #c8c8c8; 
	background: #101010;
}